
@{
    ViewBag.Title = "Formulario";
}

<h2>Formulario</h2>

<form>
    <h1>Recogiendo uno por uno</h1>
    <label>email</label>
    <input id="email" type="email" />

    <label>edad</label>
    <input id="edad" type="number" />

    <button id="btnEnviar">Enviar</button>
</form>

<hr />

<form id="frmCliente">
    <h1>Recogiendo con serialize</h1>
    <label>Nombre</label>
    <input name="nombre" type="text" />

    <label>Apellido</label>
    <input name="apellido" type="text" />

    <label>Sexo</label>
    <input name="sexo" type="text" />

    <button id="btnEnviarSerialize">Enviar</button>
</form>

@section scripts{
    <script>
        $(document).ready(function () {
            // esto es jquery, se ejecuta despues
            // de que la pagina se ha cargado

            console.log("la pagina se ha cargado");

            $("#btnEnviar").click(function (e) {
                // para no enviar formulario ni recargar
                e.preventDefault();
                console.log("hice click :D");

                // recogemos valores de los input
                // recogeremos por id
                var email = $("#email").val();
                var edad = $("#edad").val();

                console.log("mi email " + email);
                console.log("mi edad " + edad);

                var url = "@Url.Content("~/Helder/FormularioBasico")";
                $.post(url, { email, edad }, function (data) {
                    console.log(data);
                    alert(data);
                    // desde aqui podriamos redirigir a otra vista
                });
            });

            $("#frmCliente").submit(function (e) {
                // para no enviar formulario ni recargar
                e.preventDefault();

                console.log("enviando el form...");

                // recogemos todos los datos del form 
                var datos = $("#frmCliente").serialize();
                console.log("datos del form... " + datos);
            });
        });
    </script>
}