
@{
    ViewBag.Title = "Login";
}

<form id="FrmLogin" class="col-sm-12 col-md-8 col-lg-6 m-auto">
    <h1>Iniciar sesión</h1>

    <div class="form-group">
        <label>Usuario</label>
        <input id="usuario" name="usuario" type="text" maxlength="35" required class="form-control" />
    </div>
    <div class="form-group">
        <label>Contraseña</label>
        <input id="contrasena" name="contrasena" type="password" maxlength="16" required class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mb-4">Entrar</button>

    <div id="alertaCredenciales" class="collapse">
        <div class="alert alert-danger collapse show fade" role="alert">
            <strong>Credenciales incorrectas!</strong><br />Intente nuevamente o contacte al equipo de IT
            <button type="button" class="close" data-toggle="collapse" data-target="#alertaCredenciales">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</form>

@section scripts{
    <script>
        $(document).ready(function () {
            // al hacer submit (enviar) el formulario
            $("#FrmLogin").submit(function (e) {
                e.preventDefault(); // detenemos el envio

                // nombre de la url/metodo que tiene
                var url = '@Url.Content("~/Login/Entrar")';

                // los datos del formulario
                var parametros = $(this).serialize();

                $.post(url, parametros, function (data) {
                    if (data == "true") {
                        document.location.href = '@Url.Content("~/")';
                    } else {
                        $('#alertaCredenciales').addClass('show');
                    }
                }).fail(function (error) {
                    alert("Ocurrio un error en el servidor. Detalle del error: " + error);
                });
            });
        });
    </script>
}
