
@{
    ViewBag.Title = "Clientes";
}

<h1>Clientes</h1>
<div class="table-responsive mt-2">
    <table id="tablaClientes" class="table table-bordered table-striped">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">DUI</th>
                <th scope="col">Télefono</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section scripts{

    <script>
        var tabla = function (datos) {
            $('#tablaClientes').DataTable({
                language: spanishTranslationConfig,
                data: datos,
                columns: [
                    { data: "id" },
                    { data: "nombreCompleto" },
                    { data: "dui" },
                    { data: "telefono" },
                    {
                        defaultContent:
                            "<div class='text-center'>" +
                            "<a class='editar btn btn-primary mx-1' title='Actualizar' href='#'><i class='fa fa-pencil'></i></a>" +
                            "<a class='borrar btn btn-danger mx-1' title='Eliminar' href='#'><i class='fa fa-trash'></i></a>" +
                            "</div>"
                    }
                ]
            });
        };

        var llenarTabla = function () {
            // url que retorna listado
            var url = '@Url.Content("~/Cliente/List")';

            $.get(url, function (data) {
                // llenamos la tabla con los datos del servidor
                tabla(data);

                //agregamos el boton de crear
                var urlCrear = '@Url.Content("~/Cliente/Create")';
                var btnCrear = "<a class='crear btn btn-success' title='Crear' href='" + urlCrear + "' style='margin-left: 30px; margin-bottom: 5px;'><i class='fa fa-plus'></i></a>"
                $(btnCrear).appendTo('#tablaClientes_filter');
            }).fail(function (error) {
                alert("Ocurrio un error en el servidor");
            });
        };

        $(document).ready(function () {
            // llamamos la funcion para obtener los datos y llenar la tabla
            llenarTabla();

            // evento para boton editar
            $("#tablaClientes tbody").on("click", "a.editar", function (e) {
                e.preventDefault();
                var data = $('#tablaClientes').DataTable().row($(this).parents("tr")).data();
                var idCliente = data.id;

                // redirigimos a otra vista
                location.href = '@Url.Content("~/Cliente/Edit")' + "/" + idCliente;
            });

            // evento para boton borrar
            $("#tablaClientes tbody").on("click", "a.borrar", function (e) {
                e.preventDefault();
                var data = $('#tablaClientes').DataTable().row($(this).parents("tr")).data();
                var id = data.id;
                var nombreCliente = data.nombreCompleto;

                // confirmamos antes de borrar
                if (confirm("Seguro que desea eliminar al cliente " + nombreCliente)) {
                    var urlBorrar = '@Url.Content("~/Cliente/Delete")';
                    $.post(urlBorrar, { id }, function (data) {
                        alert("Registro eliminado exitosamente");
                        location.reload(); // recargamos la pagina
                    }).fail(function () {
                        alert("Ocurrio un error en el servidor");
                    });                    
                }
            });
        });
    </script>
}
