
@{
    ViewBag.Title = "Listado";
}

<h1>Clientes</h1>
<div class="table-responsive mt-2">
    <table id="tablaClientes" class="table table-bordered table-striped">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">DUI</th>
                <th scope="col">Télefono</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section scripts{

    <script>
        var traerClientes = function () {
            var url = '@Url.Content("~/Cliente/ListadoJson")';

            $.get(url, function (data) {
                $('#tablaClientes').DataTable({
                    language: spanishTranslationConfig,
                    data: data,
                    columns: [
                        { data: "id" },
                        { data: "nombreCompleto" },
                        { data: "dui" },
                        { data: "telefono" },
                        {
                            defaultContent:
                                "<div class='text-center'>" +
                                "<a class='btn btn-primary mx-1' title='Actualizar' href='#'><i class='fa fa-pencil'></i></a>" +
                                "<a class='btn btn-danger mx-1' title='Eliminar' href='#'><i class='fa fa-trash'></i></a>" +
                                "</div>"
                        }
                    ]
                });
            }).fail(function (error) {
                alert("Ocurrio un error en el servidor. Detalle del error: " + error);
            });
        };

        $(document).ready(function () {
            //var algo = function (tbody, table) {
            //    $(tbody).on("click", "button.editar", function () {
            //        var data = table.row($(this).)
            //    });
            //};

            // llamamos la funcion para traer el listado de clientes
            traerClientes();
        });
    </script>
}
