
@{
    ViewBag.Title = "Cargos";
}

<section class="container ">
    <form id="form1" class="col-sm-12 col-md-8 col-lg-6 m-auto">
        <h1><span class="label label-default">Cargos</span></h1>
        <div class="form-group">
            <label for="formGroupExampleInput">Nombre cargo</label>
            <input type="text" class="form-control" placeholder="Cargo" id="Cargo">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Descripcion</label>
            <input type="text" class="form-control" placeholder="municipio" id="Municipio">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Nuevo</button>
        <br />


        <h4><span class="label label-default">Modificar Cargo</span></h4><br />
        <div class="form-group">
            <label for="formGroupExampleInput">codigo cargo</label>
            <input type="text" class="form-control" placeholder="municipio" id="Municipio">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Nombre cargo</label>
            <input type="text" class="form-control" placeholder="Cargo" id="Cargo">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Descripcion</label>
            <input type="text" class="form-control" placeholder="municipio" id="Municipio">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Modificar</button>
        <br />
    </form>
</section>

