
@{
    ViewBag.Title = "Empleado";
}

<section class="container ">

    <h1><span class="label label-default">Empleado</span></h1>

    <div class="row">
        <div class="col">
            <input id="PrimerNombre" type="text" class="form-control" placeholder="Primer Nombre" />
        </div>
        <div class="col">
            <input id="SegundoNombre" type="text" class="form-control" placeholder="Segundo Nombre" />
        </div>
        <div class="col">
            <input id="PrimerApellido" type="text" class="form-control" placeholder="Primer Apellido" />
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col">
            <input id="SegundoApellido" type="text" class="form-control" placeholder="Segundo Apellido" />
        </div>
        <div class="col">
            <input id="DeCasada" type="text" class="form-control" placeholder="De Casada" />
        </div>
        <div class="col">
            <input id="DocumentoIdentidad" type="text" class="form-control" placeholder="Numero de DUI" />
        </div>

    </div>
    <br />

    <div class="row">
        <div class="col">
            <input id="DocTributario" type="text" class="form-control" placeholder="Numero de NIT" />
        </div>
        <div class="col">
            <input id="Municipio" type="text" class="form-control" placeholder="Municipio" />
        </div>
        <div class="col">
            <input id="Departamento" type="text" class="form-control" placeholder="Departamento" />
        </div>

    </div>
    <br />


    <button type="submit" class="btn btn-primary">Guardar</button>

</section>
<br />
<br />
<section class="container">

    <h3><span class="label label-default">Empleado</span></h3>

    <div class="row">
        <div class="col">
            <input id="Codigo" type="text" class="form-control" placeholder="Codigo Empleado" />
        </div>
        <div class="col">
            Buscar por Codigo Empleado
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <input id="BSegundoApellido" type="text" class="form-control" placeholder="Segundo Apellido" />
        </div>
        <div class="col">
            <input id="BDeCasada" type="text" class="form-control" placeholder="De Casada" />
        </div>
        <div class="col">
            <input id="BDocumentoIdentidad" type="text" class="form-control" placeholder="Numero de DUI" />
        </div>

    </div>
    <br />

    <div class="row">
        <div class="col">
            <input id="BDocTributario" type="text" class="form-control" placeholder="Numero de NIT" />
        </div>
        <div class="col">
            <input id="BMunicipio" type="text" class="form-control" placeholder="Municipio" />
        </div>
        <div class="col">
            <input id="BDepartamento" type="text" class="form-control" placeholder="Departamento" />
        </div>

    </div>
    <br />
    <button type="submit" class="btn btn-primary">Modificar</button>
</section>