<section class="container ">
    <form id="form1" class="col-sm-12 col-md-8 col-lg-6 m-auto">

        <h1><span class="label label-default">Diagnostico</span></h1><br />

        <div class="row">
            <div class="col-sm-6">
                <label>Marca: </label><input id="marca" type="text" class="form-control" placeholder="Ingrese la marca" />
            </div>
            <div class="col-sm-6">
                <label>Modelo: </label><input id="modelo" type="text" class="form-control" placeholder="Ingrese el modelo" />
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-12">
                <label>No. Serie: </label><input id="serie" type="text" class="form-control" placeholder="Ingrese numero de serie" />
            </div>
          </div>
        <br />

        <div class="row">
            <div class="col-sm-4">
                <label>Tipo: </label><select id="Select1" class="form-control">
                    <option>Portatíl</option>
                    <option>PC Escritorio</option>
                    <option>Ipad</option>
                    <option>Notepad</option>
                    <option>Palm</option>
                </select>
            </div>
            <div class="col-sm-8">
                <label>Propietario: </label><input id="propietario" type="text" class="form-control" placeholder="Nombre del propietario" />
                <br />
            </div>                            
                       
            <div class="row">
                <textarea id="TextArea1" rows="10" cols="100" class="form-control"></textarea>
            </div>
        </div>
    </form>  

</section>
