
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<div id="app">
    {{message}}
    <h5>Equipos</h5>
    <form>
        <div class="form-horizontal">
            <div class="row">
                <div class="col">
                    <label>Sucursal:</label>
                    <select class="form-control">
                        <option>Item</option>
                    </select>

                    <label>Empleado:</label>
                    <select class="form-control">
                        <option>Item</option>
                    </select>

                    <label>Cliente:</label>
                    <select class="form-control">
                        <option>Item</option>
                    </select>
                </div>
                <div class="col">
                    <label>Fecha emision:</label>
                    <input type="datetime" class="form-control" />

                    <label>Fecha resolucion:</label>
                    <input type="datetime" class="form-control" />

                    <label>Estado:</label>
                    <select class="form-control">
                        <option>Item</option>
                    </select>

                    <label>Facturado:</label>
                    <select class="form-control">
                        <option>Item</option>
                    </select>
                </div>
                <div class="col">
                    <label>Comentarios:</label>
                    <textarea class="form-control"></textarea>

                    <label>N. equipos:</label>
                    <input type="number" class="form-control" />
                </div>
                <div class="col">
                    <label>Precio:</label>
                    <input type="number" class="form-control" />

                    <label>Descuento:</label>
                    <input type="number" class="form-control" />

                    <label>Total:</label>
                    <input type="number" class="form-control" />
                </div>
            </div>
        </div>
    </form>

    <div v-for="equipo in equipos" class="card text-white bg-dark mb-3">
        <div class="card-header">
            Equipo: <b>{{equipo.Marca}} {{equipo.Modelo}}</b>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    Precio diagnostico: <b>$ {{equipo.PrecioDiagnostico}}</b>
                </div>
                <div class="col">
                    <a href="#">Ficha Diagnostico</a>
                </div>
                <div class="col">
                    <a href="#">Quitar</a>
                </div>
            </div>
            <input type="number" name="EquiposId[0]" value="55" />
        </div>
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

        <script>

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                equipos: []
            },
            created() {
                console.log("created");

                var url = '@Url.Content("~/OrdenDiagnosticos/Editar")' + '?id=44';
                axios.get(url).then((data) => {
                    console.log(data);
                });

                $.get(url, function (data) {
                    console.log(data);
                }).fail(function (error) {
                    alert("Ocurrio un error en el servidor. Detalle del error: " + error);
                });


                var url = '@Url.Content("~/OrdenDiagnosticos/GetDetalle")';

                // los datos del formulario
                var parametros = { idOrden: 5 };

                $.post(url, parametros, function (data) {
                    console.log(data);
                    app.message = "KAKA";
                    app.equipos = data;
                    if (data == "true") {
                        document.location.href = '@Url.Content("~/")';
                    } else {
                        $('#alertaCredenciales').addClass('show');
                    }
                }).fail(function (error) {
                    alert("Ocurrio un error en el servidor. Detalle del error: " + error);
                });
            }
        })
        </script>
    }
